body {
    background-color: #D6EFED;
}

hr {
    border-style: none; 
    border-top-style: dotted; 
    border-color: #fff;
    border-width: 5px;
    width: 5%;
}

h1,h3 {
    color: #898AA6;
}

.profilePicture {
    height: 175px;
}

.profilePicture:hover {
    background-color: white;
}

.aboutMePicture {
   border-radius: 15%;
   height: 200px;
    
}